/*General*/
body {
   font-family: 'Greycliff CF', sans-serif;
   color: var(--black);
   font-size: 15px;
   overflow-x: hidden;
   font-weight: 500;

}
:root {
  --primary: #00A4B6;
  --secondary: #606060;
  --black: #000000;
  --font_h1: 44px;
  --font_h2: 40px;
}

.primary_btn {
    background: var(--secondary);
}

.secondary_btn, .btn:hover{
    background: #fff  !important;
    color: var(--secondary);
}

.secondary_btn:hover {
    background: var(--secondary) !important;
    color: #fff;
}
.primary_btn, .secondary_btn{
  padding: 4px 44px;
  margin: 0 6px;
  font-size: 20px;   
}
.title_head {
    font-size: var(--font_h2);
}
.title_head .text-muted {
    color: var(--primary)!important;
}
.avatar {
    width: 50px !important;
    height: 50px !important;
}
.quote_icon{
    width: 50px !important;
    height: auto;
}
.box-sdw{
    filter: drop-shadow(0 10px 50px rgb(0,255,255,.2));
}
.social_ico_owl a {
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
}
/*General end*/

/*nav*/
.logo{
/*    width: 105px;*/
}
.navbar-white-bg {
  background-color: #ffffff;
}
.alist_main_head .dropdown-toggle::after{
    display: none ;
}
.navbar-nav .nav-link {
    font-size: 17px;
    color: var(--black) !important;
    margin-right: 20px;
    font-weight: 500;
}
img.foot_logo {
    width: 100px;
    margin-bottom: 10px;
}
footer {
    background: #f1f1f1;
}
footer i {
    margin-right: 10px;
    font-size: 20px;
}
.date {
    font-weight: 600;
    margin-bottom: 5px;
}
.card-body {
    margin-top: 20px;
}

.nav-link i {
    font-size: 11px;
    margin-left: 5px;
}
.nav_selected {
    background: #757575;
    border-radius: 10px;
    padding: 0;
    margin-top: 0.5rem;
    color: #fff !important;
}
.navbar-white-bg {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.fixed-top{
    min-height: 80px;
}
/*nav end*/

/*banner_sec*/
.alist_main_head {
    background: url(../images/alist-home_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 110vh
}

.banner_sec {
    margin-top: 100px !important;
}
.banner_block h1 {
    font-size: var(--font_h1);
}
.banner_block h1 {
    color: var(--secondary);
}
/*banner_sec*/


/*counter*/
.counter_label {
    font-size: 20px;
}
.counter {
    font-size: var(--font_h1);
    color: var(--primary);
}
.counter-item {
    margin: 0 5px;
    min-width: 145px;
}
/*counter end*/

/*animation*/
.anim1, .anim2, .anim3 {
    position: absolute;
    left: -30%;
}
.anim4, .anim5, .anim6{
    position: absolute;
    right: 0;
}
.anim2 {
    left: -40% !important;
}
.anim5 {
    right: -10% !important;
}
.anim1,.anim4 {
    top: -100px;
}
.anim2,.anim5 {
    top: 80px;
}
.anim3,.anim6 {
    top: 250px;
}

.anim1::before , .anim2::before , .anim3::before, .anim4::before, .anim5::before, .anim6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 115px;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}
.anim1::before{
    background-image: url(../images/icon01.png);
    animation: moveAndRotate 10s infinite;
}
.anim2::before{
    background-image: url(../images/icon02.png);
    animation: moveAndRotate2 10s infinite;
}
.anim3::before{
    background-image: url(../images/icon03.png);
    animation: moveAndRotate 10s infinite;
}
.anim4::before{
    background-image: url(../images/icon04.png);
    animation: moveAndRotate2 10s infinite;
}
.anim5::before{
    background-image: url(../images/icon05.png);
    animation: moveAndRotate 10s infinite;
}
.anim6::before{
    background-image: url(../images/icon06.png);
    animation: moveAndRotate2 10s infinite;
}

@keyframes moveAndRotate {
  0% {
    transform: translateX(0) rotate(0deg);   
}
25% {
    transform: translateX(35px) rotate(10deg); 
}
50% {
    transform: translateX(-55px) rotate(-10deg) ;
}
75% {
    transform: translateX(10px) rotate(20deg) ;  
}
100% {
    transform: translateX(0)  rotate(0deg);   
}
}


@keyframes moveAndRotate2 {
  0% {
    transform: translateX(0) rotate(0deg);  
}
25% {
    transform: translateX(-35px) rotate(-10deg); 
}
50% {
    transform: translateX(55px) rotate(10deg) ;
}
75% {
    transform: translateX(-10px) rotate(-20deg) ;  
}
100% {
    transform: translateX(0)  rotate(0deg);  
}
}
/*animation end*/

/* owl-carousel */

.brand_sec .owl-nav .owl-dots.disabled, .brand_sec .owl-dots {
    display: block;
}
.brand_loves .owl-dots.disabled, .creator_block2 .owl-dots.disabled {
    display: inherit !important;
}
.brand_sec .owl-carousel .owl-item img {
    width: 80%;
}

/* owl-carousel end */


/*creator section*/
.creator_block2 .card {
    background: #d7fafe;
    border: none;
    border-radius: 30px;
    padding: 30px;
}
/*creator section end*/

/*brand loves section*/
.brand_loves .card {
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 2px 6px #00000029 !important;
}
/*brand loves section end*/

/*media query*/
@media screen and (max-width: 992px) {
    #navbar {
        background: #fff;
    }
    ul.navbar-nav li:first-child {
        margin-top: 20px;
    }
    ul.navbar-nav li:last-child {
        margin-bottom: 20px;
    }
    ul.navbar-nav li:last-child a {
        padding: 4px 8px;
    }
    .fixed-top {
        min-height: auto;
        padding: 20px 0;
    }
    :root {
        --font_h1: 34px;
        --font_h2: 34px;
    }
    .counter-item{
        min-width: 100px;
    }
    .secondary_btn {
        margin-top: 15px;
    }
    .anim1, .anim2, .anim3, .anim4, .anim5, .anim6{
        display: none;
    }
    .brand_sec .owl-carousel .owl-item img {
        width: 100%;
    }
    .brand_sec .owl-nav {
        display: none;
    }
    .brand_sec .owl-dots {
        display: none;
    }
    .primary_btn, .secondary_btn{
        margin-left: 0;
          margin-right: 0;
    }
    .w-75{
        width: 100% !important;
    }
    .owl-nav{
        display: none !important;
    }
}
/*media query end*/